extends layout

block content
    div.app
        header.common.header
            div#main-info
                div
                    img.image(src=dataURL )
                div
                    p scan me



